@model CIS411_Final_Library.Models.Book


@{
    ViewBag.Title = "Review";
}

<h2>Review for @Model.Title</h2>
@Html.Partial("_Review", Model.Rates)

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Author"))
    {
        @Html.ActionLink("Create New", "Create", new { bookId = Model.BookID })
    }
</p>